.container {
    margin-top: 5%;
    border: 2px solid black;
    border-radius: 15px;
    padding: 20px 15px;
}

.container,
.form {
    width: 300px;
}

.title {
    color: #000;
    font-size: 18px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.84px;
    margin-bottom: 10px;
}

.total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    margin-bottom: 10px;
}

.totalTitle,
.totalPrice {
    color: #000;
    font-size: 15px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.72px;
}

.input {
    border-radius: 25.147px;
    height: 10px;
    margin-bottom: 10px;
    width: 270px;
    padding: 10px 15px;
}

.message {
    width: 40%;
    color: #393;
    margin-bottom: 20px;
}

.btn {
    width: 300px;
    height: 35px;
    background-color: transparent;
    border-radius: 25.147px;
    border: 2.395px solid #393;
    color: #393;
    font-size: 15px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.862px;
    margin-top: 10px;
    transition: 0.5s;
}

.btn:hover {
    cursor: pointer;
    background-color: #F1FFF1;
    color: #393;
    transition: 1s;
    font-size: 18px;
}


@media screen and (min-width: 500px) {

    .container,
    .form {
        width: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .message {
        width: 300px;
    }
}

@media screen and (min-width: 780px) {
    .container {
        margin-top: 2%;
    }

    .container,
    .form {
        width: 30%;
    }

    .total {
        width: 230px;
    }

    .input {
        width: 200px;
    }

    .message {
        width: 230px;
    }

    .btn {
        width: 230px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        padding: 30px 25px;
        margin-top: 1%;
    }

    .container,
    .form {
        width: 40%;
    }

    .title {
        font-size: 28px;
    }

    .total {
        width: 95%;
    }

    .totalTitle,
    .totalPrice {
        font-size: 24px;
        font-weight: 500;
    }

    .form {
        width: 95%;
    }

    .input {
        width: 90%;
        padding: 5% 5%;
    }

    .message {
        width: 95%;
    }

    .btn {
        width: 100%;
        height: 45px;
        transition: 0.5s;
        text-align: center;
        font-size: 28px;
        line-height: 130%;
        letter-spacing: 0.84px;
    }

    .btn:hover {
        font-size: 30px;
    }
}