.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.title {
    color: #000;
    font-size: 14px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.54px;
}

.title:hover {
    color: #393;
    cursor: pointer;
}

@media screen and (min-width: 780px) {
    .container {
        margin-bottom: 2%;
    }

    .img {
        height: 180px;
    }

    .title {
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 1200px) {
    .img {
        height: 200px;
    }
}